:host {
  // background: linear-gradient(180deg, #E8F9FE 0%, #128AAD 43.41%, #322E4C 99.48%);
  background-color: #000;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}