@use '../mixins/breakpoints.mixin' as breakpoints;

.tata-container {
  position: relative;
  margin: 0 auto;
  width: 100%;

  @include breakpoints.media-breakpoint("xs") {
    padding-left: 16px;
    padding-right: 16px;
    width: auto;
  }
  @include breakpoints.media-breakpoint("sm") {
    max-width: 720px;
    padding-left: 16px;
    padding-right: 16px;
    width: auto;
  }
  @include breakpoints.media-breakpoint("md") {
    max-width: 910px;
  }
  @include breakpoints.media-breakpoint("lg") {
    max-width: 1140px;
  }
  @include breakpoints.media-breakpoint("xl") {
    max-width: 1140px;
  }
}
