$fonts-family: (
  primary-black: "Lato-Black",
  primary-black-italic: "Lato-BlackItalic",
  primary-bold: "Lato-Bold",
  primary-bold-italic: "Lato-BoldItalic",
  primary-italic: "Lato-Italic",
  primary-light: "Lato-Light",
  primary-light-italic: "Lato-LightItalic",
  primary-regular: "Lato-Regular",
  primary-thin: "Lato-Thin",
  primary-thin-italic: "Lato-ThinItalic"
);
